

<%= render :partial => 'tasks/top_siderbar' %>
<%= render :partial => 'tasks/alert' %>

<div class="row">
  <div class="span10 offset2">
      <blockquote><small>Today you should do <%= @schedules.size%> tasks. And <%= @schedules_today_done.size%> are done. </small></blockquote>
  </div>
</div>

<div class="span10">
  <table class="table table-striped">
    <tbody>
      <% @schedules.each do |schedule| %>
        <%unless schedule.task.is_done%>
          <tr>
            <td width=5%>
                <%= form_tag done_schedule_path(schedule), method: :get, remote:false do%>
                  <%= check_box_tag nil, nil, schedule.task.is_done %>
                  <%= submit_tag %>
                <% end %>
            </td>
            <td>
              <%if not schedule.task.is_play %>
                <%= link_to play_schedule_path(schedule.task), :class => 'btn btn-mini play' do%>
                  <i class="icon-play"></i>
                <%end%> 
              <%else%>
                <%= link_to stop_schedule_path(schedule.task), :class => 'btn btn-mini stop' do%>
                  <i class="icon-stop"></i>
                <%end%> 
              <%end%>
            </td>
            <td><%= schedule.task.duration_done %></td>  
            <td>
              <a href="<%= direction_tasks_path(schedule.task.direction)%>">
                <i class="<%= schedule.task.direction.icon %> transparent"></i>
                <%= schedule.task.direction.name %>
              </a>
            </td>
            <td><%= schedule.task.name %></td>          
            
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
